.booking-slide-bar > div{
    border-radius: 12px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}