/* .sidebar {    
    width: 29%;
    height: 480px;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
    background-color: #F3F3F3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: blue;
} */
.main {
    width: 70%;
    height: 200vh;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
}
.main, .sidebar {
    border-radius: 10px;
    color: #222;
    padding: 15px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
body {
    font-size: 20px;
}
code, pre {
    padding: 0 3px;
    border-radius: 5px;
}
.bottom {
    
    justify-self: bottom;
}
.rm_border{
    /* background-color: red; */
    border-radius: 12px;
    width: 29%;
    height: 480px;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
    background-color: #F3F3F3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    /* background-color: blue; */
}

.form-btn {
    text-align: center;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
     
  }
 