/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body {
    margin: 0 auto;
}

.m-5-auto {
    margin-top: 100px;
    text-align:center;

}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
    color: #f1f1f1
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/
h2 {
    font-weight: 300
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 2rem 0;
    
}

form label {
    float: left;
    margin-bottom: 5px;
}

.right-label {
    float: right;
    cursor: pointer
}

input {
    float: left;
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

#sub_btn {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: #1B1A1A;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: rgb(202, 184, 184);
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem;
    align-items: center;
}

#reset_pass_lbl {
    float: left;
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}