* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.farmSchool,
.farmTourAndStay,
.farmEduAndCamp,
.ourPackages,
.blogs,
.about {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.farmSchool,
.farmTourAndStay,
.farmEduAndCamp,
.blogs,
.ourPackages,
.about {
  /*background-image: url('/images/bg3.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

 
 